/*Variables*/
:root{
    --bg-color: #141414;
    --text-color: #fff;
    --secondary-text-color: #aaa;
    --signature-color: #49f0ff;
    --change-mode: #ff2424;
}

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial;
}

header .container{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#logo{
    color: var(--signature-color);
    text-shadow: #03282b -1px -1px;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    letter-spacing: 1px;

    margin-left: 3%;
    margin-right: 2%;
}

nav{
    display: flex;
    text-align: center;
    font-size: 15px;
}

nav a{
    margin-left: 22px;
    text-decoration: none;
    color: var(--secondary-text-color);
}

nav a:hover{
    cursor: pointer;
    color:var(--text-color);
}

div .right{
    position: absolute;
    right: 3%;
    font-size: 25px;
}

.right i{
    margin-left: 10px;
    color: var(--signature-color);
    cursor: pointer;
}

/*Main*/

.main-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background: linear-gradient(90deg, rgba(20,20,20,1) 13%, rgba(20,20,20,0.9609668174486482) 36%, rgba(20,20,20,0.7109668174486481) 55%, rgba(20,20,20,0.4469218736284235) 100%), url('https://images.hdqwalls.com/download/connor-detroit-become-human-28-1366x768.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
}

.main-item .container{
    width: 60%;
    margin-left: 3%;
}

.item-title{
    font-size: 35px;
    margin-bottom: 3%;
}

.description{
    font-size: 16px;
}

/* Buttons */
.btn{
    padding: 15px;
    margin: 20px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.30);
    color: var(--text-color);
    border: none;
    border-radius: 2%;

    cursor: pointer;
    transition: .3s ease all;
}

.btn:hover{
    background: var(--text-color);
    color: var(--bg-color);
}

.btn i{
    margin-right: 8px;
}

/*Categories*/

.category{
    margin: 2% 3% 1% 3%;
    font-size: 19px;
}

/*Footer*/

footer .container{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(20,68,68,1) 47%, rgba(20,20,20,1) 94%);
    color: var(--text-color);
    padding: 2%;
    margin-top: 5%;

    padding-left: 15%;
}

footer a{
    color: var(--text-color);
    text-decoration: none;
}

footer i{
    position: absolute;
    right: 10%;
}

footer p{
    font-size: 16px;
    align-items: center;
    margin: 0.8%;
}

/*Change Mode*/

.change-mode #logo{
    color: var(--change-mode)
}

.change-mode .right i{
    color: var(--change-mode);
}

.change-mode footer .container{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, #ff24249c 47%, rgba(20,20,20,1) 94%);
}